/* CSS BY JASON TAN*/

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/* CSS REST */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --green: #06A816;
    --orange: #E75D02;
    --black: #000000;
    --white: #ffffff;
}
/* GLOBAL STYLES (mobile first/small) */
html{
    min-width: 428px;
}

header{
    display: block;
    padding: 1rem;
    margin: -1rem;
}

h1{
    text-align: center;
    font-size: 2.5em;
    font-family:'Irish Grover';
    background-color: var(--green);
    color: var(--white);
    width: 100%;
    padding-top: 1rem;
}
header > p{
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    font-family: 'Habibi';
    padding-bottom: 1rem;
}

nav{
    display: block;
}

nav ul{
    gap: 1em;
    text-align: center;
}

nav li{
    margin: 3em;
    line-height: 2re;
}

nav a{
    display: block;
    text-decoration: none;
    background-color: var(--orange);
    color: var(--white);
    font-family: 'Habibi';
    font-weight: bold;
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
    border-radius: 5px;
}

main{
    display: grid;
    align-items: center;
}

h2{
    font-family: 'Irish Grover';
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 1rem;
}

p{
    font-family: 'Habibi';
    color: var(--black);
    font-weight: bold;
}

section{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
}

h3{
    font-family: 'Irish Grover';
    font-weight: bold;
    padding: 1em;
    font-size: 1.25em;
}

figure{
    display: grid;
    align-items: center;
    margin: 1em;
    position: relative;
    justify-content: center;
}

figcaption{
    display: grid;
    color: var(--white);
    position: absolute;
    text-align: center;
    justify-self: center;
    background-color: rgba(0, 0, 0, .7);
    padding: 1em 2em 1em 2em;
    font-size: 1.1em;
}

/* MEDIA QUERY (medium) */
@media screen and (min-width: 834px){

}
/* MEDIA QUERY (large) */
/* MEDIA QUERY (xl) */